
<div class="content">
  	<div class="examples">
		<div class="leftbar">
			<ul class="tabs">
				<li class="active"><a href="#tab1" class="cf">Signup form</a></li>
				<li><a href="#tab2">Popup window with user name</a></li>
				<li><a href="#tab3">Prompt for URL</a></li>
				<li><a href="#tab4">Multiple selection box</a></li>
				<li><a href="#tab5">Check all and none</a></li>
				<li><a href="#tab6">Prompt when browser open</a></li>
				<li><a href="#tab7">Dynamic Table</a></li>
				<li><a href="#tab8">Two multiple selection box</a></li>
				<li><a href="#tab9">Email and URL matching</a></li>
				<li><a href="#tab10">Matching numerical Values</a></li>
				<li><a href="#tab11">Domail/subdomain matching</a></li>
			</ul>
		</div>
		<div class="rightbar tab_container">
			<div class="tab_content" id="tab1" style="display: block">
			  <h2>Sign up form</h2>
		      <p>Create a form and add JS validations to that form.When you click on 'Go' JS will check all text fields, and give an alert like "Login Id can't be empty". One alert per empty field.</p>
			  <p>For textarea it should check for empty and min length of 50 characters. </p>
			  <p>If any field is invalid then it should not submit the form. Also It should also confirm "receive notification"</p>
			  <h3>Solution: </h3>	 
			  <p class="bold"><%= link_to"Click here for Solution" , '/work/exercise01'%></a>
			</div>
			<div class="tab_content" id="tab2" style="display: none">
				<h2>Popup window with user name</h2>
				<p>Create a HTML page, when it opens in Browser, it should prompt twice. Once for first name and second for last name. When you enter first and last name, it should alert you as "Hello firstname lastname."</p>
				<p>After alert it should put that text in html page</p>
				<h3>Solution: </h3>	 
				<p class="bold"><%= link_to"Click here for Solution" , '/work/exercise02'%></a>
			</div>
			<div class="tab_content" id="tab3" style="display: none">
				<h2>Prompt for URL</h2>
				<p>Write a Script that prompt you for a URL. If the put an empty url it should alert you. Otherwise it should open that URL in a new window of width 400px and height 450px, without any type of bar.</p>
				<h3>Solution: </h3>	 
				<p class="bold"><%= link_to"Click here for Solution" , '/work/exercise03'%></a>
			</div>
			<div class="tab_content" id="tab4" style="display: none">
				<h2>Multiple selection box</h2>
				<p>Create two multiple selection box</p>
				<p>First box contains list of countries and when you select a country and click on add button. Selected country will disappear from first box and appear in second button. And when you select a country from second box and click on remove button it will disappear from second box and appear in first box</p>
				<h3>Solution: </h3>	 
				<p class="bold"><%= link_to"Click here for Solution" , '/work/exercise04'%></a>
			</div>
			<div class="tab_content" id="tab5" style="display: none">
				<h2>Check all and none</h2>
				<p>Create a list of checkbox (red, green, yellow, white, black). Now create to links "Check all" and 'none'. When you click on check all link all checkbox will be selected, and when you click on none link all checkbox will be deselected(working example is gmail).</p>
				<h3>Solution: </h3>	 
				<p class="bold"><%= link_to"Click here for Solution" , '/work/exercise05'%></a>
			</div>
			<div class="tab_content" id="tab6" style="display: none">
				<h2>Prompt when browser open</h2>
				<p>Create a list of checkboxs(Sunday, Monday, Wednesday, Thursday, Tuesday, Friday, Saturday and none). Now when I start checking these checkboxs, it should not let me check more than 3 checkboxes. When I try to check on 4th checkbox it should alert me as "Only 3 days can be selected. You have already selected sunday, monday and tuesday".</p>
				<p>Now when I click on none, all other checkboxs should be deselected. Also when 'none' is selected and I select any other option(lets assume sunday), that option(sunday) will be selected and none will be deselected.</p>
				<h3>Solution: </h3>	 
				<p class="bold"><%= link_to"Click here for Solution" , '/work/exercise06'%></a>
			</div>
			<div class="tab_content" id="tab7" style="display: none">
				<h2>Dynamic Table</h2>
				<p>Create a Table</p>
  				<p>When you click on 'Add new row' button, it should add a new row in the table, in the name and email column there will a textfield and in the action column there will be a button save. When you enter some value in textfields and click save, values will be saved and textfields will be replaced by the values entered, and save button will be replace by edit / delete links. You should be able to delete row by clicking on the delete link, and edit value by clicking on the edit link.</p>
				<h3>Solution: </h3>	 
				<p class="bold"><%= link_to"Click here for Solution" , '/work/exercise07'%></a>
			</div>
			<div class="tab_content" id="tab8" style="display: none">
				<h2>Two multiple selection box</h2>
				<p>Create a div with height 100 and scroll bars. Display a list of checkbox color, drinks, movies and bikes in this div. Now when you click on color checkbox it should display four checkboxes(red, yellow, green, blue) as a child list and color checkbox should be checked. Again when you click on color checkbox child list should be hidden. Same with movies, drink and bikes.</p>
  	<ul>
  	  <li>movies: [Dar, Sir] </li>
  	  <li>drinks: [coke, pepsi, dew] </li>
  	  <li>bikes: [V-rod, pulser, cbz]</li>
  	</ul>  
  	<p>* Remember: when you click on a parent checkbox and if child list checkboxes are out of visible area the div's scrollbars should scroll and child list should be visible</p>
				<h3>Solution: </h3>	 
				<p class="bold"><%= link_to"Click here for Solution" , '/work/exercise08'%></a>
			</div>
			<div class="tab_content" id="tab9" style="display: none">
				<h2>Email and URL matching</h2>
				<p>The form you create and add validations for the correct format of email and homepage(url)</p>
				<h3>Solution: </h3>	 
				<p class="bold"><%= link_to"Click here for Solution" , '/work/exercise09'%></a>
			</div>
			<div class="tab_content" id="tab10" style="display: none">
				<h2>Matching numerical Values</h2>
				<p>Create a form with two textfields labeled "Enter Number" and "Result". When I enter something in first textfield and submit the form, it should write true in second textfield if entered value is numeric otherwise false. Also if entered value is not numeric, form should not be submitted.</p>
				<h3>Solution: </h3>	 
				<p class="bold"><%= link_to"Click here for Solution" , '/work/exercise10'%></a>
			</div>	
			<div class="tab_content" id="tab11" style="display: none">
				<h2>Domail/subdomain matching</h2>
				<p>Create a form with a textfield. When I enter a domain or subdomain in the box and submit the form. it should alert the subdomain if exists and the alert the domain name.</p>
				<h3>Solution: </h3>	 
				<p class="bold"><%= link_to"Click here for Solution" , '/work/exercise11'%></a>
			</div>
		</div>		
	</div>
</div>	